<nav role="banner">
    <h1 id="page-title">Calendar app</h1>
    <div id="controller" class="d-flex-row" role="form">
      <div class="d-flex-row">
        <div class="d-flex-col">
          <label for="change-mode" class="text-caption">Change Mode:</label>
          <select id="change-mode">
            <option value="read"  >Default</option>
            <option value="create">Create Event</option>
            <option value="update">Update Event</option>
            <option value="delete">Delete Event</option>
          </select>
        </div>
        <div id="mode-description">This is the normal readonly mode.</div>
      </div>
      <div class="d-flex-col">
        <label for="number-event" class="text-caption">Auto Put Events:</label>
        <div>
          <input type="number" id="number-event" min="1" max="20" value="10" class="text-small">
          <button type="button" id="put-events">Put Events</button>
        </div>
      </div>
      <div class="d-flex-col">
        <label for="change-type" class="text-caption">View Type:</label>
        <select id="change-type">
          <option value="bar"  >Bar</option>
          <option value="point">Point</option>
          <option value="mixed">Mixed</option>
        </select>
      </div>
      <div class="d-flex-col">
        <button type="button" id="reload" class="no-label">Reload</button>
      </div>
    </div>
  </nav>
<main role="main">
    <div class="occupy-advance"></div>
    <div id="calendar-selector"></div>
</main>
