<div class="reservation-calendar-content">
    <div class="properties-sidebar">
        <div class="properties-filters">
            <input type="text" placeholder="Search" (input)="filterPropertyFromName($event)"/>
            <button (click)="viewFilterOptions = !viewFilterOptions">
                <span>
                    <svg version="1.1" id="menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.75 24.75" style="enable-background:new 0 0 24.75 24.75;" xml:space="preserve">
                        <g>
                            <path d="M0,3.875c0-1.104,0.896-2,2-2h20.75c1.104,0,2,0.896,2,2s-0.896,2-2,2H2C0.896,5.875,0,4.979,0,3.875z M22.75,10.375H2
                                c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h20.75c1.104,0,2-0.896,2-2C24.75,11.271,23.855,10.375,22.75,10.375z M22.75,18.875H2
                                c-1.104,0-2,0.896-2,2s0.896,2,2,2h20.75c1.104,0,2-0.896,2-2S23.855,18.875,22.75,18.875z"/>
                        </g>
                    </svg>
                </span>
            </button>
        </div>
        <div class="properties-filters-box-container" *ngIf="viewFilterOptions">
            <div class="properties-filters-box-content">
                <div class="filter-box-title">
                    <h4>Filter Options</h4>
                    <button (click)="viewFilterOptions = false">
                        <svg id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z" />
                          </svg>
                    </button>
                </div>
                <div class="filter-box-property-address">
                    <span>Address:</span>
                    <input type="text" placeholder="Search" [(ngModel)]="filterOptions.address"/>
                </div>
                <div class="filter-box-property-guest">
                    <span>Guest Name:</span>
                    <select type="text" name="guestName" [(ngModel)]="filterOptions.guestName">
                        <option value="">Select Guest Name</option>
                        <ng-container *ngFor="let property of propertiesToRenderHTML">
                            <option value="{{ property.guestName }}">{{ property.guestName }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="filter-box-property-guest">
                    <span>Guest Email:</span>
                    <select type="text" name="guestEmail" [(ngModel)]="filterOptions.guestEmail">
                        <option value="">Select Guest Email</option>
                        <ng-container *ngFor="let property of propertiesToRenderHTML">
                            <option value="{{ property.guestEmail }}" >{{ property.guestEmail }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="filter-box-property-bedrooms">
                    <span>Number of Bedrooms:</span>
                    <select type="text" placeholder="Bedrooms" [(ngModel)]="filterOptions.numberOfRooms">
                        <option value="0"></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="filter-box-more-filters">
                    <span>Filters:</span>
                    <div class="radio-filter">
                        <label>Resort</label>
                        <input type="checkbox" name="resort" [(ngModel)]="filterOptions.isResort"/>
                    </div>
                    <div class="radio-filter">
                        <label>Pool</label>
                        <input type="checkbox" name="pool" [(ngModel)]="filterOptions.isPool"/>
                    </div>
                </div>
                <div class="filter-box-actions">
                    <button class="btn-cancel" (click)="clearFilters()">Reset</button>
                    <button (click)="applyFilters()">Apply</button>
                </div>
            </div>
        </div>
        <div class="reserve-houses">
            <ng-container *ngFor="let property of propertiesToRenderHTML">
                <div class="single-propertie">
                    <div class="propertie-img">
                        <picture>
                            <img src="{{ property.image }}">
                        </picture>
                    </div>
                    <span>{{ property.name }}</span>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="properties-table-calendar" id="calendar-content" (scroll)="onScroll($event)">
        <div class="table-calendar-content">
            <div class="calendar-months">
                <ng-container *ngFor="let month of months">
                    <div class="single-month">
                        <h4>{{ month.name }} {{ month.year }}</h4>
                        <div class="calendar-header">
                            <ng-container *ngFor="let item of [].constructor(month.numberDays); let i = index">
                                <div class="calendar-day" [ngClass]="{'active' : today === i + 1}">
                                    <span>{{ i + 1 }}</span>
                                    <span>{{ getDayName(i + 1, month.count, month.year) }}</span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
            <dts-select-container #container="dts-select-container" [(selectedItems)]="selectedDaysByDrag"
                (select)="selectDaysInCalendar($event)">
                <ng-container *ngFor="let property of propertiesToRenderHTML">
                    <div class="rendered-items">
                        <ng-container *ngFor="let month of months">
                            <ng-container *ngFor="let item of [].constructor(month.numberDays); let i = index">
                                <div [dtsSelectItem]="{'day': i + 1, 'month': month.count, 'year': month.year, property }" class="calendar-day" id="year_{{ month.year }}_month_{{ month.count }}_day_{{ i }}_property_{{ property.id }}"
                                    [attr.data-property-id]="property.id">
                                    <span *ngIf="checkIsWeekendDay(i + 1, month.count, month.year)">{{ property.weekdaysPrice | currency: 'USD' : 'symbol' }}</span>
                                    <span *ngIf="!checkIsWeekendDay(i + 1, month.count, month.year)">{{ property.weekendPrice | currency: 'USD' : 'symbol' }}</span>
                                    <div class="selected-bar"></div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </dts-select-container>
        </div>
    </div>
    <div class="sidebar-add-new-reservation" *ngIf="viewRightSidebar">
        <div class="new-reservation-content">
            <div class="reservation-selected-dates">
                <h4>Selected dates</h4>
                <span>{{ selectedDates }}</span>
            </div>
            <div class="reservation-number-nights">
                <h4>Number of nights</h4>
                <span>{{ numberOfNights  }}</span>
            </div>
            <div class="reservation-total-price">
                <h4>Total price</h4>
                <span>{{ totalPriceSelectedDays | currency: 'USD' : 'symbol' }}</span>
            </div>
            <div class="reservation-select-customer">
                <h4>Select customer</h4>
                <select>
                    <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.name }}</option>
                </select>
            </div>
            <div class="reservation-notes">
                <h4>Private notes</h4>
                <textarea placeholder="Notes..."></textarea>
            </div>
            <div class="reservation-confirm">
                <button (click)="viewRightSidebar = false">Confirm</button>
            </div>

        </div>
    </div>
</div>