:host {
    .reservation-calendar-content {
        display: grid;
        grid-template-columns: 20em auto;
        height: 100vh;
        width: 100vw;

        &.view-right-sidebar {
            // width: calc(100vw - 30em);
        }
        .properties-sidebar {
            padding-top: calc(5em - 2px);
            box-shadow: 0 0 80px 50px rgb(206, 213, 225, 0.2);
            .properties-filters {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5em;
                padding: 1em 0.5em;
                input {
                    width: 100%;
                    height: 2em;
                    padding: 0.5em;
                    border: 1px solid;
                    border-radius: 0.3em;
                }
                button {
                    background: none;
                    border: none;
                    height: 100%;
                    cursor: pointer;
                    padding: 0.5em;
                    svg {
                        height: 2em;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
            .properties-filters-box-container {
                z-index: 5;
                position: fixed;
                margin: 0px;
                margin-top: -10em;
                margin-left: 10em;
                left: 0;
                transform: translate3d(103px, 76px, 0px);
                border-radius: 0.475rem;
                background-color: #fff;
                box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.3);
                width: 320px;
                display: flex;
                justify-content: center;
                .properties-filters-box-content {
                    width: 100%;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 1.5em;
                    .filter-box-title {
                        button {
                            border: none;
                            outline: none;
                            background: none;
                            position: absolute;
                            top: 0.5em;
                            right: 0.2em;
                            display: flex;
                            justify-content: center;
                            align-self: center;
                            border-radius: 50%;
                            cursor: pointer;
                            svg {
                                height: 2em;
                                fill: #a1a5b7;
                            }
                            &:hover {
                                svg {
                                    fill: #b7b7b7;
                                }
                            }
                        }
                    }
                    .filter-box-property-address,
                    .filter-box-more-filters,
                    .filter-box-property-bedrooms,
                    .filter-box-property-guest {
                        display: flex;
                        flex-direction: column;
                        input {
                            height: 2em;
                            padding: 0.5em;
                            border: 1px solid;
                            border-radius: 0.3em;
                        }
                        select {
                            padding: 1em;
                            border: 1px solid;
                            border-radius: 0.3em;
                        }
                    }
                    .filter-box-more-filters {
                        display: flex;
                        flex-direction: column;

                        .radio-filter {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            input {
                                height: 1.5rem;
                                width: 2.5rem;
                                &:checked {
                                    border-radius: 3.25rem;
                                    background-color: #04c8c8;
                                    background-position: right center;
                                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e");
                                }
                            }
                        }
                    }
                    .filter-box-actions {
                        display: flex;
                        justify-content: space-between;
                        gap: 0.5em;
                        button {
                            flex: 1;
                            cursor: pointer;
                            padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
                            font-size: 1rem;
                            font-weight: 600;
                            color: #fff;
                            border: none;
                            background-color: rgb(4, 200, 200);

                            &.btn-cancel {
                                color: #7e8299;
                                border-color: #f5f8fa;
                                background-color: #f5f8fa;
                            }
                        }
                    }
                }
            }
            .reserve-houses {
                display: flex;
                flex-direction: column;
                border-top: 1px solid rgb(221, 221, 221);
                .single-property {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1em;
                    padding: 0.5em;
                    border-bottom: 1px solid rgb(221, 221, 221);
                    max-height: 3em;
                    .property-img {
                        picture {
                            display: flex;
                            img {
                                width: 4em;
                                height: calc(4em - (0.5em + 0.5em));
                                object-fit: cover;
                                object-position: center;
                                border-radius: 0.2em;
                            }
                        }
                    }
                    span {
                        font-size: 1rem;
                        font-weight: 500;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 14em;
                    }
                }
            }
        }
        .properties-table-calendar {
            overflow-x: scroll;
            .table-calendar-content {
                .calendar-months {
                    display: flex;
                    height: 10em;
                    .single-month {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        border-right: 1px solid #777777;
                        border-left: 1px solid #777777;

                        h4 {
                            margin: 0;
                            font-size: 1.2rem;
                            font-weight: 600;
                            padding: 1em 0;
                        }
                    }
                }
                .calendar-header,
                .rendered-items {
                    width: 100%;
                    display: flex;
                    .single-month {
                        display: flex;
                        align-items: center;
                        border-right: 1px solid rgb(119, 119, 119);
                        border-left: 1px solid rgb(119, 119, 119);
                    }
                    .calendar-day,
                    .dts-select-item,
                    .selected {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        border-bottom: 1px solid rgb(221, 221, 221);
                        border-right: 1px solid rgb(221, 221, 221);
                        font-size: 1em;
                        color: rgb(112, 112, 112);
                        min-width: 7em;
                        height: 4em;
                        text-align: center;
                        box-sizing: border-box;
                        span {
                            color: rgb(112, 112, 112);
                            font-size: 1em;
                        }
                    }
                }
                .calendar-header {
                    .calendar-day {
                        border-top: 1px solid rgba(119, 119, 119, 1);
                        border-right: 1px solid rgba(119, 119, 119, 1);
                        border-bottom: 4px solid rgba(119, 119, 119, 0.3);
                        flex-direction: column;
                        &.active {
                            background-color: rgb(0, 175, 175, 1);
                            span {
                                color: #fff;
                            }
                        }
                    }
                }
                .rendered-items {
                    .calendar-day {
                        height: calc(4em + 1px);
                        position: relative;

                        &.disabled {
                            cursor: not-allowed !important;
                            background: repeating-linear-gradient(
                                -45deg,
                                rgba(228, 223, 223, 0.5),
                                #fff 5px,
                                #fff 5px,
                                #fff 15px,
                            );
                        }
                        .selected-bar {
                            display: none;
                        }
                        &.dts-select-item {
                            cursor: crosshair;
                            &.selected {
                                box-shadow: none;
                                justify-content: flex-end;
                                align-items: flex-start;
                                padding-right: 0.3em;
                                padding-top: 0.3em;
                                .selected-bar {
                                    display: flex;
                                    align-items: center;
                                    position: absolute;
                                    z-index: 1;
                                    bottom: 0.2em;
                                    left: 0%;
                                    height: 2.3em;
                                    width: 101%;
                                    background-color: rgb(0, 175, 175, 1);
                                    border-radius: 0;
                                    color: #fff;
                                    padding-left: 0.3em;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    &.first-item {
                                        border-radius: 0.3em 0 0 0.3em;
                                        z-index: 2;
                                    }
                                    &.last-item {
                                        border-radius: 0 0.3em 0.3em 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .sidebar-add-new-reservation {
            position: fixed;
            top: 0em;
            right: 0;
            width: 30em;
            height: 100vh;
            z-index: 1;
            background: #fff;
            box-shadow: 0 0 80px 50px rgb(206, 213, 225, 0.2);

            .new-reservation-content {
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 2em;
                gap: 1em;
                .reservation-selected-dates,
                .reservation-total-price,
                .reservation-number-nights,
                .reservation-select-customer,
                .reservation-notes,
                .reservation-confirm,
                .reservation-tag-color {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    h4 {
                        font-size: 1.2rem;
                        margin: 0;
                    }
                    span,
                    select {
                        padding: 1em;
                        border: 1px solid;
                        border-radius: 0.3em;
                    }
                    textarea {
                        border: 1px solid;
                        border-radius: 0.3em;
                        min-height: 10em;
                        padding-left: 0.5em;
                        padding-top: 0.5em;
                    }
                }

                .reservation-confirm {
                    flex-direction: row;
                    margin-top: 5em;
                    button {
                        flex: 1;
                        cursor: pointer;
                        padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
                        font-size: 1rem;
                        font-weight: 600;
                        color: #fff;
                        border: none;

                        &.cancel {
                            background-color: rgb(255, 0, 0);
                        }
                        &.confirm {
                            background-color: rgb(0, 175, 175);
                        }
                    }
                }
            }

            .reservation-tag-color {
                .reservation-tag-color-items {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;
                    .reservation-tag-color-item {
                        margin: 0;
                        padding: 0;
                        width: 3em;
                        height: 3em;
                        border-radius: 50%;
                        border: 2px solid rgb(177, 177, 177);
                        cursor: pointer;

                        &.selected {
                            &::after {
                                background-color: rgba(255, 255, 255, 0.8);
                                content: '';
                                width: 3em;
                                height: 3em;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}
